name: Sanitizers

on:
  workflow_call: {}
  workflow_dispatch: {}
  pull_request: {}

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  sanitizer:
    name: ${{ matrix.sanitizer }}
    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        sanitizer: [thread, address, undefined]

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Swift
      uses: swift-actions/setup-swift@v2
      with:
        swift-version: "6.0"

    - name: Run tests with ${{ matrix.sanitizer }} sanitizer
      run: swift test --sanitize ${{ matrix.sanitizer }}
